<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Authorization"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:insert="~{blocks/stylesLink :: stylesLink}">
</head>
<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:insert="~{blocks/header :: header}"></header>


    <div class="container mt-5 mb-10">
        <h1>Registration</h1>
        <form action="/authUser" method="post">
            <h4>Enter data</h4><br>
            <input type="text" name="authEmail" placeholder="Email">
            <input type="password" name="authPassword" placeholder="Password">
            <button type="submit" class="btn btn-success">Done</button><br>
        </form>
    </div>


    <footer th:insert="~{blocks/footer :: footer}"></footer>
</div>

</body>
</html>