/* Общие настройки */
body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #8f57f7;
}

.cover-container {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header, footer {
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

nav.nav-masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.nav-masthead .nav-link {
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

nav.nav-masthead .nav-link:hover {
    color: #ff6347;
}

.btn {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ff6347;
    color: #ffffff;
}

.dropdown {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.dropdown-menu {
    background-color: #444444;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    padding: 12px 16px;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-item:hover {
    background-color: #555555;
}

/* Анимации и эффекты */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
}

.margin-nav {
    margin-right: 10px; /* Устанавливает правый отступ для каждого элемента */
}

.nav-link:first-child {
    margin-left: 10px; /* Устанавливает левый отступ для первого элемента */
}

.nav-link:last-child {
    margin-right: 10px; /* Устанавливает правый отступ для последнего элемента */
}
